<div class="container-main">
    <img src="/images/story-banner.png" style="display: block; margin: 0 auto; max-width: 100%; margin-bottom: 10px;">
    
    <h4 class="display-4" style="text-align: center;">Administrator Home</h4>

    <div class="row">
        <div class="col-sm">
            <div class="admin-home-card">
                <a href="/admin/designers">DESIGNERS</a>
            </div>
        </div>

        <div class="col-sm">
            <div class="admin-home-card">
                <a href="/admin/listings">LISTINGS</a>
            </div>
        </div>

        <div class="col-sm">
            <div class="admin-home-card">
                <a href="/admin/users">USERS</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="admin-home-card">
                <a href="/admin/orders">ORDERS</a>
            </div>
        </div>

        <div class="col-sm">
            <div class="admin-home-card">
                <a href="/admin/discounts">DISCOUNTS</a>
            </div>
        </div>
    </div>
</div>