<div class="container-main">
    <h3 class="display-4" style="text-align: center; color: #EC257C; font-size: 2.5rem;">Todd's Current Obsessions</h3>
    <hr>

    <div class="row">
        <div class="col-md-2">
            <img src="/images/todd-profile.png" style="max-width: 100%; display: block; margin: 0 auto;">
            <p style="color: white; text-align: center; background-color: #EC257C; padding-top: 6px; padding-bottom: 6px;">January 17, 2020 by Todd Somoza</p>
        </div>

        <div class="col-md-10">
            <h3 id="newyear123119" style="text-align: center; letter-spacing: 5px; background-color: #EC257C; color: white;">THE ARGENTINE ARTIST</h3>

            <blockquote class="blockquote text-center" style="margin-bottom: 16px; margin-top: 16px;">
                <p class="mb-0" style="color: black!important;">"You must be willing to leave the life you planned in order to find the one waiting for you."</p>
                <footer class="blockquote-footer"><cite title="Source Title">Joseph Campbell</cite></footer>
            </blockquote>

            <p style="color: black!important;">
                Jorge Adeler is one of those rare artisans that perfectly combines raw beauty with high end polish. He seeks out and highlights the natural elements of a gemstone with a creative and intelligent design concept, resulting in perfect luxurious harmony.
            </p>

            <div class="row">
                <div class="col-md">
                    <img src="/images/blog/ja-2.png" style="max-width: 100%; margin-bottom: 12px;">
                </div>

                <div class="col-md">
                    <br><br><br>
                    <img src="/images/blog/ja-1.png" style="max-width: 100%; margin-bottom: 12px;">
                </div>
            </div>

            <p style="color: black!important;">
                If you are not familiar, Jorge was born and raised in Argentina and moved to the United States in the 70’s with his wife and two daughters to peruse the dream of dreams. 
                Adeler Jeweler's was established in 1975 and the legacy that we now get to enjoy today was started. The showroom and workshop is located in a beautiful building in Virginia and the entire family has created a foundation there for themselves. 
                Jorge's daughters are by his side working for the company, representing the brand and their dad with the highest level of pride and integrity.
            </p>

            <div class="row">
                <div class="col-md">
                    <img src="/images/blog/ja-3.png" style="max-width: 100%; margin-bottom: 12px;">
                </div>

                <div class="col-md">
                    <img src="/images/blog/ja-4.png" style="max-width: 100%; margin-bottom: 12px;">
                </div>
            </div>

            <p style="color: black!important;">
                Jorge’s pieces are all incredibly special and unique, as each are one of a kind and posses a gorgeous and particular quality of there own. His designs are creative, stunning and often times substantial. 
                His showcase here in our boutique is one of my favorites and houses a very different but very cohesive representation of his work. To me, these designs are meant for a true lover of gemstones and art. And I am both.
            </p>

            <p style="color: black!important;">
                We all have one life, you know? Well, unless we are reincarnated. But in life, it’s important to live, to enjoy, to not waste time, to be happy. So I say, take the chance, go on the trip, quit the awful job, 
                max out the card and buy that gorgeous piece of Jorge Adeler jewelry that’s going to bring joy to your day! Cause why not?
            </p>

            <p style="color: black!important;">
                Perhaps his collections are best described as extraordinary.
            </p>

            <p style="color: black!important;">
                Take a peek at some of the personal favorites of mine. Truly, I want everything!
            </p>
        </div>
    </div>

    <br style="margin-top: 32px;">

    <div class="row">
        <div class="col-md-2">
            <img src="/images/todd-profile.png" style="max-width: 100%; display: block; margin: 0 auto;">
            <p style="color: white; text-align: center; background-color: #EC257C; padding-top: 6px; padding-bottom: 6px;">December 31, 2019 by Todd Somoza</p>
        </div>

        <div class="col-md-10">
            <h3 id="newyear123119" style="text-align: center; letter-spacing: 5px; background-color: #EC257C; color: white;">REFLECT AND RESET</h3>

            <blockquote class="blockquote text-center" style="margin-bottom: 16px; margin-top: 16px;">
                <p class="mb-0" style="color: black!important;">"The only way to truly grow, is to give"</p>
                <footer class="blockquote-footer"><cite title="Source Title">Elizabeth Taylor</cite></footer>
            </blockquote>

            <p style="color: black!important;">
                Mindfulness is a facet of life that we can never truly have enough of. A new year begins and to me that means new and perhaps pre-existing things to be mindful of and for. 
                Whether it's your loved ones, your home or even your favorite bauble that you are in a state of gratitude for, I say good for you!
            </p>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md">
                    <img src="/images/blog/bm-1.png" style="width: 100%;">
                </div>

                <div class="col-md">
                    <img src="/images/blog/bm-2.png" style="width: 100%;">
                </div>
            </div>

            <p style="color: black!important;">
                As we get ready to open our second showroom, The Elephant Bar, we have a lot to be grateful for and to look forward to. 
                It will be just as artisan driven with emphasis on global and eclectic design. Our team is committed to expand our brand and creating success for our future. 
                We are a gallery in every sense and feature beautiful and rare collections to meet anyone's taste, which I absolutely love. 
                I feel incredibly lucky to represent so much talent and beauty and I'm proud to work where I do.
            </p>

            <img src="/images/blog/bm-3.png" style="width: 50%; text-align: center; display: block; margin: 0 auto; margin-bottom: 10px; margin-top: 10px;">

            <p style="color: black!important;">
                It is also that time of year for many people to reflect, reset and recharge. 
                Although I do not believe in New Years resolutions for myself (if I want to make change, there's no time like the present, no matter the day or month), 
                I do support the bettering of oneself for anyone and however they'd like to achieve that. Let's all be mindful of our new endeavors and cherish what we currently have.
            </p>

            <img src="/images/blog/bm-4.png" style="width: 50%; text-align: center; display: block; margin: 0 auto; margin-bottom: 10px; margin-top: 10px;">

            <p style="color: black!important;">
                On the subject of mindfulness and extra thoughtfulness, I'm reminded of all the incredible meaning behind the Buddha pendants that Buddha Mama creates. 
                I'm also reminded of the wonderful work that the ladies of the brand do, such as giving back to important organizations such as Kristi House and Tibet House. 
                The definition of Buddha is "one who is awake". Further it means, enlightened one, one who has achieved nirvana.
            </p>

            <p style="color: black!important;">
                No matter what your beliefs are, I believe we could all benefit from enlightenment, achieving a deeper level of happiness and giving more to others.
            </p>
        </div>
    </div>

    <br style="margin-top: 32px;">

    <div class="row">
        <div class="col-md-2">
            <img src="/images/todd-profile.png" style="max-width: 100%; display: block; margin: 0 auto;">
            <p style="color: white; text-align: center; background-color: #EC257C; padding-top: 6px; padding-bottom: 6px;">November 22, 2019 by Todd Somoza</p>
        </div>

        <div class="col-md-10">
            <h3 id="syna112219" style="text-align: center; letter-spacing: 5px; background-color: #EC257C; color: white;">SENDING OUT THE GOOD VIBES WITH SYNA</h3>

            <blockquote class="blockquote text-center" style="margin-bottom: 16px; margin-top: 16px;">
                <p class="mb-0" style="color: black!important;">"You only live once, but if you do it right, once is enough."</p>
                <footer class="blockquote-footer"><cite title="Source Title">Mae West</cite></footer>
            </blockquote>

            <p style="color: black!important;">
                There is no better time to talk about the magnificent Tree of Life and it’s symbolism, since we have begun a new season here in the desert.
                It is said, that The Tree of Life is a symbol of a fresh start on life, positive energy, good health and a bright future. It is a symbol of immortality.
                A tree grows old, yet it bears seeds that contain its very essence and in this way, becomes immortal. Ultimately, a symbol of growth and strength.
            </p>

            <p style="color: black!important;">
                One of our many beautiful designers, Syna, offers several unique and beautiful pieces in their collection which include this magical Tree. Syna means together. 
                This is a collection and brand that reflects positive energy and Syna holds true to a belief that jewelry transcends age and time. 
                Emerging in 2003, with the goal of creating a brand that speaks for itself, Syna pulls inspiration from cultural influence, spiritual beliefs and travel experiences throughout the world.
            </p>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5dd86cdb290c505d7a5f59e4"><img src="/images/blog/sy-tol.png" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 2px; margin-top: 0;">18K Yellow Gold Tree of Life Medallion - $4,950</p>
                </div>

                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5d5dc0e731db7f77bbf5f4cd"><img src="/images/blog/sy-ear.jpg" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 0px;">18K Yellow Gold Mogul Flower Earrings - $5,850</p>
                </div>
            </div>

            <p style="color: black!important;">
                Having jewelry with real meaning behind it is so important to me and actually, I have found it is for most. Whether gifted by a loved one, passed down through generations, 
                or purchased from a boutique, there is meaning there. A feeling once the gold touches your skin or the instant a flicker from a stone hits the light when trying on a new piece. 
                It’s a new and fresh feeling, an immediate emotional connection, almost a new beginning...
            </p>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5d5dcd7531db7f77bbf5f512"><img src="/images/blog/sy-lifestyle.png" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 10px;">18K Yellow Gold Tree of Life Ring - $4,650</p>
                </div>

                <div class="col-md">
                    <img src="/images/blog/sy-hand.png" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <br style="margin-top: 32px;">

    <div class="row">
        <div class="col-md-2">
            <img src="/images/todd-profile.png" style="max-width: 100%; display: block; margin: 0 auto;">
            <p style="color: white; text-align: center; background-color: #EC257C; padding-top: 6px; padding-bottom: 6px;">October 29, 2019 by Todd Somoza</p>
        </div>

        <div class="col-md-10">
            <h3 id="rg102919" style="text-align: center; letter-spacing: 5px; background-color: #EC257C; color: white;">RAY GRIFFITHS IS COMING TO THE DESERT</h3>

            <blockquote class="blockquote text-center" style="margin-bottom: 16px; margin-top: 16px;">
                <p class="mb-0" style="color: black!important;">"One should either be a work of art or wear a work of art"</p>
                <footer class="blockquote-footer"><cite title="Source Title">Oscar Wilde</cite></footer>
            </blockquote>

            <p style="color: black!important;">
                The word passion comes to mind when I think of my deep love of jewelry. My affair started early in life when I’d visit my grandma for overnight stays and we would go through her entire jewelry
                collection piece by piece as Dynasty played on the television. My favorite was her 12 carat pink tourmaline ring. It was a stunner!
            </p>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md">
                    <img src="/images/blog/rg-opal-ring-set.png" style="width: 100%;">
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 2px; margin-top: 0;">18K Yellow Gold Crownwork Oval Ring w/ Cabochon Set Opal - $3,950</p>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 2px; margin-top: 0;">18K Yellow Gold Crownwork Bezel Set Oval Chalcedony Ring - $3,795</p>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 0;">18K Yellow Gold Crownwork Bezel Set Oval Green Turquoise Ring - $3,885</p>
                </div>

                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5dbb38e1415e353b968f14e0"><img src="/images/blog/rg-opal-ring.png" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 0px;">18K Yellow Gold Crownwork Dress Ring w/ Oval Cabochon Opal & Pave Diamonds - $6,590</p>
                </div>

                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5dbb332f415e353b968f14d4"><img src="/images/blog/rg-opal-pend.png" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 0px;">18K Yellow Gold Graduated Finial Necklace w/ Oxidized Silver Olive Chain & Lilypad Clasp w/ 18K Yellow Gold Crownwork Capped Opal Pendant - $16,105</p>
                </div>
            </div>

            <p style="color: black!important;">
                Ray Griffiths is an artist of ours who absolutely overflows with passion. Though our paths have been quite different in life, he too begun his love affair at a very early age.
                Pulling inspiration from some of the richest and most important eras of the past, including Regency, Edwardian and Roman Greco, Ray is a rarity all on his own. Spectacular stones harmonized with
                first class design, his pieces are chic, special and timeless. Rays incredible collection is ever evolving, yet always remaining true to his roots in restoration of vintage European jewelry.
                His identifiable crownwork trademark immediately makes every piece recognizable. The grid pattern design, which dates back to those magical eras, gives his beautiful pieces a substantial look
                while being incredibly lightweight - hence the multiple layering action happening by Ray fans worldwide. Metal combinations of silver and 18kt gold make his collections versatile to rock,
                whether causal with a tee or in your head to toe runway look.
            </p>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md">
                    <img src="/images/blog/rg-turq-irl.png" style="width: 100%;">
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 10px;">Turqoise Necklace - $4,785</p>
                </div>

                <div class="col-md">
                    <a href="https://thejewelrybar.com/store/listing/5dbb3c73415e353b968f14e3"><img src="/images/blog/rg-quartz-irl.png" style="width: 100%;"></a>
                    <p style="color: black!important; font-size: 0.75rem; text-align: center; margin-bottom: 10px; margin-top: 10px;">Rutilated Quartz Necklace - $4,390</p>
                </div>
            </div>

            <p style="color: black!important;">
                This is the first of my blog post series for our website and I could not think of a more important designer to start off with. It’s true, Ray is a personal favorite, I love to tell his story 
                and share it with our clients. I love the stones he uses, the interesting and gorgeous design he allows us to showcase and represent each day. But mostly, it’s the personal, the human behind the 
                beauty. To have a genuine connection to an artist is quite rare and special and Ray is nothing short of a true gentleman, warm and wonderful. His, are pieces that anyone would love to possess, 
                enjoy and pass on. So let’s all drape ourselves in some Ray Griffiths.
            </p>
        </div>
    </div>
</div>