<div class="container-main">
    <div class="text-center">
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Coming Soon....</span>
        </div>
    </div>

    <h1 class="display-4" style="text-align: center;">Coming Soon!</h1>
    <p class="lead" style="text-align: center; color: black!important;">Click <a href="/" style="color: #EC257C;">here</a> to return to the homepage</p>
</div>