<div class="container-main">
    <img src="/images/story-banner.png" style="width: 100%;">
    <h3 class="display-4" style="text-align: center; color: #EC257C; font-size: 2.5rem; margin-top: 16px;">Contact Us</h3>

    <div class="row">
        <div class="col-md" style="margin-top: 32px;">
            <h5 class="display-4" style="font-size: 2rem; text-align: center; color: #EC257C;">Send us an email</h5>
            <a href="mailto:info@thejewelrybar.com" style="display: block; text-align: center; color: black; font-size: 1.25rem;">info@thejewelrybar.com</a>
        </div>

        <div class="col-md" style="margin-top: 32px;">
            <h5 class="display-4" style="font-size: 2rem; text-align: center; color: #EC257C;">Call Us</h5>
            <a href="tel:760-862-1809" style="display: block; text-align: center; color: black; font-size: 1.25rem;">760.862.1809</a>
        </div>

        <div class="col-md" style="margin-top: 32px;">
            <h5 class="display-4" style="font-size: 2rem; text-align: center; color: #EC257C;">Follow Us</h5>
            <p style="color: black!important; padding: 0; margin: 0; text-align: center; font-size: 1rem;"><a href="https://www.instagram.com/the.jewelry.bar/" style="color: #EC257C;"><i class="fab fa-instagram"></i> Instagram</a> and <a href="https://www.facebook.com/thefinejewelrybar/" style="color: #EC257C;"><i class="fab fa-facebook-f"></i> Facebook</a></p>
        </div>

        <div class="col-md" style="margin-top: 32px;">
            <h5 class="display-4" style="font-size: 2rem; text-align: center; color: #EC257C;">Visit Us</h5>
            <p style="color: black!important; padding: 0; margin: 0; text-align: center; font-size: 1rem;">73-255 El Paseo - Palm Desert, CA 92260</p>
            <p style="color: black!important; padding: 0; margin: 0; text-align: center; font-size: 1rem;"><a href="/about/map" style="color: #EC257C;">Click here</a> to view a map</p>

            <p style="color: black!important; padding: 0; margin: 0; margin-top: 32px; text-align: center; font-weight: bold;">STORE HOURS</p>
            <p style="color: black!important; padding: 0; margin: 0; text-align: center; font-size: 1rem;">Monday-Saturday: 11:00AM - 5:00PM</p>
            <p style="color: black!important; padding: 0; margin: 0; text-align: center; font-size: 1rem;">Sunday: Closed</p>
        </div>
    </div>
</div>