<div class="container-main">
    <h3 class="display-4" style="text-align: center; color: #EC257C; font-size: 2.5rem; margin-bottom: 16px;">Now Serving</h3>

    {{#grouped_each 3 designers}}
        <div class="row">
            {{#each this}}
            <div class="col-md">
                <div class="designer-card">
                    <a href="/store/designer/{{this.name}}">{{this.name}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    {{/grouped_each}}
</div>

<br>