<div class="container-main">
    <h3 class="display-4" style="text-align: center; color: #EC257C; font-size: 2.5rem;">Events <i class="far fa-calendar-alt"></i></h3>
    <h3 class="display-4" style="color: black!important; font-size: 1.25rem; text-align: center; margin-bottom: 12px;">Come sip and shop with us throughout 2019 & 2020!</h3>

    <div class="row">
        <div class="col-md">
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem;">October</h4>
            <hr>

            <div class="event-left">
                <a href="/store/designer/Nanis"><h4>Nanis</h4></a>
                <p>Brunch, Personal Appearance & Trunk Show</p>
                <p>October 13th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Coomi"><h4>Coomi</h4></a>
                <p>Trunk Show</p>
                <p>October 24th - October 26th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Ray Griffiths"><h4>Ray Griffiths</h4></a>
                <p>Trunk Show</p>
                <p>October 31st - November 2nd</p>
            </div>

            <br>
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem;">November</h4>
            <hr>

            <div class="event-left">
                <a href="/store/designer/Donald Huber"><h4>Donald Huber</h4></a>
                <p>Trunk Show</p>
                <p>November 8th & November 9th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Victor Velyan"><h4>Victor Velyan</h4></a>
                <p>Trunk Show</p>
                <p>November 11th - November 16th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Dana Kellin"><h4>Dana Kellin</h4></a>
                <p>Popup Shop</p>
                <p>November 25th - November 30th</p>
            </div>

            <br>

            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem;">December</h4>
            <hr>

            <div class="event-left">
                <h4>Christmas Party</h4>
                <p>December 6th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Walters Faith"><h4>Walters Faith</h4></a>
                <p>Pearsonal Appearance & Trunk Show</p>
                <p>December 6th - December 8th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Nan Fusco"><h4>Nan Fusco</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>December 12th & December 13th</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Jorge Adeler"><h4>Jorge Adeler</h4></a>
                <p>Trunk Show</p>
                <p>December 17th - December 19th</p>
                <p>Jorge Adeler Stylist/Representative Available</p>
            </div>

            <br>

            <div class="event-left">
                <a href="/store/designer/Paul Morelli"><h4>Paul Morelli</h4></a>
                <p>Pop-up Shop</p>
                <p>December 29th - January 4th</p>
            </div>
        </div>

        <div class="col-md">
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem; text-align: right;">January</h4>
            <hr>

            <div class="event-right">
                <a href="/store/designer/Meredith Young"><h4>Meredith Young</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>January 16th - January 18th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Joon Han"><h4>Joon Han</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>January 23rd - January 25th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/M. Spalten"><h4>M. Spalten</h4></a>
                <p>Trunk Show</p>
                <p>January 27th & January 28th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="#"><h4>Todd Reed</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>January 29th - February 1st</p>
            </div>

            <br>
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem; text-align: right;">February</h4>
            <hr>

            <div class="event-right">
                <a href="/store/designer/Buddha Mama"><h4>Buddha Mama</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>February 10th - February 16th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Victor Velyan"><h4>Victor Velyan</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>February 27th - February 29th</p>
            </div>

            <br>
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem; text-align: right;">March</h4>
            <hr>

            <div class="event-right">
                <a href="/store/designer/Graziela"><h4>Graziela</h4></a>
                <p>Trunk Show</p>
                <p>March 5th - March 7th</p>
            </div>

            <br>
            
            <div class="event-right">
                <a href="/store/designer/Adam Foster"><h4>Adam Foster</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>March 12th - March 14th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Pasquale Bruni"><h4>Pasquale Bruni</h4></a>
                <p>Trunk Show</p>
                <p>March 19th - March 21st</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Donald Huber"><h4>Donald Huber</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>March 23rd - March 25th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Ray Griffiths"><h4>Ray Griffiths</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>March 26th - March 28th</p>
            </div>

            <br>
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem; text-align: right;">April</h4>
            <hr>

            <div class="event-right">
                <a href="/store/designer/Jorge Adeler"><h4>Jorge Adeler</h4></a>
                <p>Trunk Show</p>
                <p>April 2nd - April 4th</p>
            </div>

            <br>

            <div class="event-right">
                <a href="/store/designer/Gretchen Ventura"><h4>Gretchen Ventura</h4></a>
                <p>Personal Appearance & Trunk Show</p>
                <p>April 9th - April 10th</p>
            </div>

            <br>
            <h4 class="display-4" style="color: #EC257C; font-size: 2.5rem; text-align: right;">May</h4>
            <hr>

            <div class="event-right">
                <p>Dates coming soon!</p>
            </div>
        </div>
    </div>
</div>