<div class="container-main">
    <div class="legal">
        <!-- RETURNS START -->
        <div id="returns">
            <h3>Return Policy</h3>
            <p>
                We stand behind the quality of our merchandise. If for any reason you are not satisfied, we accept returns in exchange for store credit
                of unused, undamaged merchandise received within <b>10 days</b> of the purchase date subject to the following:
            </p>

            <br>

            <p>
                1. Special order items and promotional discounted purchases are final sale only. To confirm if an item is final sale or can be returned
                please email <a href="mailto:info@thejewelrybar.com">info@thejewelrybar.com</a> or call us at 760.862.1809.
            </p>

            <br>

            <p>
                2. All returns of merchandise purchased on this website require prior authorization. Please call 760.862.1809 or email <a href="mailto:info@thejewelrybar.com">info@thejewelrybar.com</a>
                to obtain a pre-paid Return Shipping label via email. Once you have received the label, print and affix it to a UPS Overnight Box containing the merchandise with the original online order
                confirmation slip and internal packaging and take to your nearest UPS Store. Be sure to get a receipt that you dropped off the package.
            </p>

            <br>

            <p>
                The Fine Jewelry Bar cannot be responsible for returned merchandise prior to our receipt. Items returned without authorization and void of pre-paid Return Shipping label
                will not be eligible for exchange of store credit applicable to the amount of original purchase.
            </p>

            <br>

            <h5>Store Credit</h5>

            <p>
                The store credit will be applied to the account of the individual who placed the original order. Once returned merchandise is received your store credit will be immediately applied to your account.
                You will then receive an email confirming the application of the store credit to your account.
            </p>

            <br>

            <p>
                When using store credit, please place your order over the phone at 760.862.1809 or via email at <a href="mailto:info@thejewelrybar.com">info@thejewelrybar.com</a>
            </p>
        </div>
        <!-- RETURNS END -->

        <br>

        <hr>

        <br>

        <!-- SHIPPING START -->
        <div id="shipping">
            <h3>Shipping Policy</h3>

            <p>
                <b>Unless otherwise specified, items will ship in 4-6 weeks from date of order.</b>
            </p>

            <p>
                STANDARD OVERNIGHT DELIVERY
            </p>

            <p>
                UPS Next Day Air within the United States - $40
            </p>

            <p>
                For Next Day Air delivery, orders must be submitted Monday through Friday by 2PM PST. Unless Saturday Delivery is specified, orders submitted Friday will be delivered on Monday.
            </p>

            <p>
                For Saturday Delivery, please call 760.862.1809
            </p>

            <p>
                Next Day Air delivery orders placed after 2PM PST will be shipped the following day.
            </p>
        </div>

        <br>

        <hr>

        <br>

        <!-- CANCELLATIONS START -->
        <div id="cancellations">
            <h3>Order Cancellation Policy</h3>
        
            <p>
                Order cancellations are currently accepted by telephone only and must be received before the item has shipped. Please call 760.862.1809 to cancel an order placed online.
            </p>
        </div>
        <!-- CANCELLATIONS END -->

        <br>

        <hr>

        <br>

        <!-- INTERNATIONAL SHIPPING START -->
        <div id="international-shipping">
            <h3>International Shipping</h3>

            <p>
                For International Shipping please call us at 760.862.1809 or email us at <a href="mailto:info@thejewelrybar.com">info@thejewelrybar.com</a>
            </p>
        </div>
        <!-- INTERNATION SHIPPING END -->

        <br>

        <hr>

        <br>

        <!-- PRIVACY POLICY START -->
        <div id="privacy">
            <h3>Privacy Policy</h3>

            <p>
                This privacy policy discloses the privacy practices for thejewelrybar.com. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
            </p>

            <p>
                1. What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared with.
            </p>

            <p>
                2. What choices are available to you regarding your data.
            </p>

            <p>
                3. The security procedures in place to protect the misuse of your information.
            </p>

            <p>
                4. How you can correct any inaccuracies in the information.
            </p>

            <br>

            <h5>Information Collection, Use and Sharing</h5>
            <p>
                We are the sole owners of the information collected on this site. We only have access to/collection information that you voluntarily give us via email or other
                direct contact from you. We will not sell or rent this information to anyone.
            </p>

            <p>
                We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as
                necessary to fulfill your request, e.g to contact you via email or send you email notifications that you signed up for on the site or through the store.
            </p>

            <p>
                Unless you request to be removed from our email list, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
            </p>

            <br>

            <h5>Your Access to and Control Over Information</h5>
            <p>
                You may opt out of any future contacts from us at any time by clicking "unsubscribe" at the bottom of our email blasts or contacting our store and requesting to be removed from our mailing list.
                You can do the following at any time by contacting us via the email address or phone number provided on our website:
            </p>

            <ul>
                <li>See what data we have about you, if any</li>
                <li>Change/correct any data we have about you</li>
                <li>Have us delete any data we have about you</li>
                <li>Express any concern you have about our use of your data</li>
            </ul>

            <br>

            <h5>Security</h5>
            <p>
                We take precautions to protect your information. When you submit your information through forms on our website, your information is protected both online and offline.
            </p>

            <p>
                We do <b>not</b> collection sensitive information (such as credit card data) via our website.
            </p>

            <p>
                We also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable
                information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
            </p>

            <br>

            <h5>Updates</h5>
            <p>
                Our policies may change from time to time and all updates will be posted on this page.
            </p>

            <p>
                If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 760.862.1809 or email us at <a href="mailto:info@thejewelrybar.com">info@thejewelrybar.com</a>
            </p>
        </div>
        <!-- PRIVACY POLICY END -->
    </div>
</div>