<div class="container-main">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/leo.png" style="max-width: 100%;">
        </div>

        <div class="col-sm-8">
            <h4 class="display-4" style="text-align: center;">Hang in there! <i class="fas fa-bone"></i> <i class="fas fa-paw"></i></i></h4>
            <h4 class="display-4" style="text-align: center; font-size: 1.5rem;">This page is a work in progress</h4>
            <h4 class="display-4" style="text-align: center; font-size: 1.5rem;"><a href="/" style="color: #EC257C;">Click here</a> to head back to the home page</h4>
        </div>
    </div>
</div>