<div class="container-main">
    <h3 class="display-4" style="text-align: center; color: black; font-size: 2.5rem;">Our Story</h3>
    <hr>

    <img src="/images/story-banner.png" class="img-fluid" alt="Store Cover Image" style="margin-bottom: 12px;">

    <h6 style="color: black!important; text-align: center;">
        Founded in 2014, The Fine Jewelry Bar offers an amazing array of stunning jewelry by more than 25 renowned designers
        from across the globe. We carry the finest of fine and on-trend jewelry delivered with the style, quality and attention our customers deserve.
    </h6>

    <br>

    <h6 style="color: black!important; text-align: center;">
        The Fine Jewelry Bar has assembled an incredible team of top professionals each with over 20 years of jewelry experience. Whether you are looking to repurpose an
        heirloom, design a custom piece, find a lifetime treasure or select an accessory for tonights ensemble, The Fine Jewelry Bar's talented and knowledgeable staff
         will make your vision a reality.
    </h6>

    <br>

    <h6 style="color: black!important; text-align: center">Please enjoy our beautiful website and be sure to stop in to our venue on El Paseo in Palm Desert, CA.</h5>
    <h6 style="text-align: center"><a href="/about/contact" style="color: #EC257C;">Click here to get in contact with us.</a></h5>
</div>