<br>
<p style="text-align: center; color: gray;"><a href="https://thejewelrybar.com" style="color: #EC257C; font-size: 0.8rem">Website</a> | <a href="https://www.instagram.com/the.jewelry.bar/" style="color: #EC257C; font-size: 0.8rem">Instagram</a> | <a href="https://thejewelrybar.com/legal" style="color: #EC257C; font-size: 0.8rem">Terms & Policies</a></p>
<p style="color: gray; text-align: center; font-size: 0.8rem; margin-bottom: 0;">73-255 El Paseo, Palm Desert, CA 92260</p>
<p style="color: gray; text-align: center; font-size: 0.8rem;">If you no longer want to be contacted by us <a href="https://thejewelrybar.com/newsletter/unsubscribe/{{id}}" style="color: #EC257C;">click here to unsubscribe</a></p>